[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "libcxx"]
	path = libcxx
	url = git://github.com/llvm-mirror/libcxx.git
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = git://github.com/ryan-cf/netrw.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vimfiler.vim"]
	path = bundle/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim
[submodule "bundle/unite-codesearch"]
	path = bundle/unite-codesearch
	url = https://github.com/junkblocker/unite-codesearch
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "/Users/lostar/.vim/pack/themes/opt/vim-solarized8.git"]
	path = /Users/lostar/.vim/pack/themes/opt/vim-solarized8.git
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/themes/opt/plugins/vim-bracketed-paste.git"]
	path = pack/themes/opt/plugins/vim-bracketed-paste.git
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "pack/plugins/opt/a.vim"]
	path = pack/plugins/opt/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "pack/plugins/opt/ag.vim"]
	path = pack/plugins/opt/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "pack/plugins/opt/html5.vim"]
	path = pack/plugins/opt/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "pack/plugins/opt/python-mode"]
	path = pack/plugins/opt/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "pack/plugins/opt/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/opt/tern_for_vim"]
	path = pack/plugins/opt/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "pack/plugins/opt/ultisnips"]
	path = pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/plugins/opt/unite.vim"]
	path = pack/plugins/opt/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "pack/plugins/opt/vim-autotag"]
	path = pack/plugins/opt/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
[submodule "pack/plugins/opt/vim-easymotion"]
	path = pack/plugins/opt/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "pack/plugins/opt/vim-filebeagle"]
	path = pack/plugins/opt/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle
[submodule "pack/plugins/opt/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/vim-gitgutter"]
	path = pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/opt/vim-json"]
	path = pack/plugins/opt/vim-json
	url = https://github.com/jakar/vim-json.git
[submodule "pack/plugins/opt/vim-mikrotik"]
	path = pack/plugins/opt/vim-mikrotik
	url = https://github.com/zainin/vim-mikrotik.git
[submodule "pack/plugins/opt/vim-qml"]
	path = pack/plugins/opt/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "pack/plugins/opt/vimproc.vim"]
	path = pack/plugins/opt/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "pack/plugins/opt/vitality.vim"]
	path = pack/plugins/opt/vitality.vim
	url = https://github.com/sjl/vitality.vim
[submodule "pack/plugins/opt/vim-localvimrc"]
	path = pack/plugins/opt/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "pack/themes/opt/vim-solarized8"]
	path = pack/themes/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/plugins/opt/info.vim"]
	path = pack/plugins/opt/info.vim
	url = https://gitlab.com/HiPhish/info.vim.git
[submodule "pack/plugins/opt/vim-man"]
	path = pack/plugins/opt/vim-man
	url = https://github.com/vim-utils/vim-man.git
[submodule "pack/plugins/opt/qmake-syntax-vim"]
	path = pack/plugins/opt/qmake-syntax-vim
	url = https://github.com/artoj/qmake-syntax-vim.git
